In [1]:
# Import Dependencies
import os
import pandas as pd
from pathlib import Path

In [2]:

#Read ACC_AUX.csv
ACC_AUX_path = Path("data/ACC_AUX.csv")

# Import to data frame
ACC_AUX_df = pd.read_csv(ACC_AUX_path)

# Display data frame
ACC_AUX_df.head()

,YEAR,STATE,ST_CASE,FATALS,A_CRAINJ,A_REGION,A_RU,A_INTER,A_RELRD,A_INTSEC,...,A_RD,A_HR,A_DIST,A_DROWSY,A_WRONGWAY,BIA,SPJ_INDIAN,INDIAN_RES,CENSUS_2020_TRACT_FIPS,TRACT
0,2022,1,10001,1,1,4,1,2,1,2,...,2,2,2,2,2,0,0,0,1.107050e+09,1
1,2022,1,10002,2,1,4,1,2,1,2,...,2,2,2,2,1,0,0,0,1.101006e+09,1
2,2022,1,10003,1,1,4,1,2,4,2,...,1,2,2,2,2,0,0,0,1.115040e+09,1
3,2022,1,10004,1,1,4,1,1,4,2,...,1,2,2,2,2,0,0,0,1.101006e+09,1
4,2022,1,10005,1,1,4,2,1,2,2,...,1,1,2,2,2,0,0,0,1.073013e+09,1

In [3]:
#Read accident.csv
accident_path = Path("data/accident.csv")

# Import to data frame
accident_df = pd.read_csv(accident_path)

# Display data frame
accident_df.head()

,STATE,STATENAME,ST_CASE,PEDS,PERNOTMVIT,VE_TOTAL,VE_FORMS,PVH_INVL,PERSONS,PERMVIT,...,NOT_MINNAME,ARR_HOUR,ARR_HOURNAME,ARR_MIN,ARR_MINNAME,HOSP_HR,HOSP_HRNAME,HOSP_MN,HOSP_MNNAME,FATALS
0,1,Alabama,10001,0,0,2,2,0,3,3,...,47,13,1:00pm-1:59pm,4,4,13,1:00pm-1:59pm,47,47,1
1,1,Alabama,10002,0,0,2,2,0,5,5,...,Unknown,99,Unknown EMS Scene Arrival Hour,99,Unknown EMS Scene Arrival Minutes,99,Unknown,99,Unknown EMS Hospital Arrival Time,2
2,1,Alabama,10003,0,0,1,1,0,2,2,...,33,1,1:00am-1:59am,50,50,99,Unknown,99,Unknown EMS Hospital Arrival Time,1
3,1,Alabama,10004,0,0,1,1,0,1,1,...,48,15,3:00pm-3:59pm,9,9,15,3:00pm-3:59pm,44,44,1
4,1,Alabama,10005,1,1,1,1,0,1,1,...,48,18,6:00pm-6:59pm,54,54,88,Not Applicable (Not Transported),88,Not Applicable (Not Transported),1

In [4]:
#Read distract.csv
#Different distractions
distract_path = Path("data/distract.csv")

# Import to data frame
distract_df = pd.read_csv(distract_path)

# Display data frame
distract_df.head()

   STATE STATENAME  ST_CASE  VEH_NO  DRDISTRACT DRDISTRACTNAME
0      1   Alabama    10001       1          96   Not Reported
1      1   Alabama    10001       2          96   Not Reported
2      1   Alabama    10002       1          96   Not Reported
3      1   Alabama    10002       2          96   Not Reported
4      1   Alabama    10003       1          96   Not Reported

In [5]:
#Read weather.csv
#How weather affects accidents
weather_path = Path("data/weather.csv")

# Import to data frame
weather_df = pd.read_csv(weather_path)

# Display data frame
weather_df.head()

   STATE STATENAME  ST_CASE  WEATHER WEATHERNAME
0      1   Alabama    10001        1       Clear
1      1   Alabama    10002        1       Clear
2      1   Alabama    10003       10      Cloudy
3      1   Alabama    10004       10      Cloudy
4      1   Alabama    10005        2        Rain